<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/layout.svg" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      iframe {
        width: 800px;
        height: 600px;
        margin: 0;
      }
    </style>
    <title>Data UI tests</title>
  </head>
  <body>
    <header>
      <h1>Layout tests</h1>
      <button id="run">Run</button>
    </header>
    <div id="app">
      <div id="results">
        <table></table>
      </div>
    </div>
    <footer></footer>
    <script type="module">
      let urls = [
        "noop.html",
        "es5.html",
        "es5_expand.html",
        "es6.html",
        "es6_expand.html",
        "es2016plus.html",
        "es2016plus_expand.html",
        "html.html",
        "mdn.html",
        "mdn_html.html",
        "blog_cc.html",
        "wiki_web_standards.html",
      ];
      let table = document.querySelector("#results table");
      let allLoaded = [];
      for (let url of urls) {
        let row = document.createElement("tr");
        let cell = document.createElement("td");
        let iframe = document.createElement("iframe");
        iframe.src = "../pages/" + url;
        allLoaded.push(new Promise((resolve) => (iframe.onload = resolve)));
        cell.appendChild(iframe);
        row.appendChild(cell);
        table.appendChild(row);
      }

      let running = false;
      document.querySelector("#run").addEventListener("click", async () => {
        if (running) {
          console.log("Not running, a current run is happening");
          return;
        }
        running = true;
        console.log("Waiting for iframe loads");
        const times = {};
        await Promise.all(allLoaded);
        const results = document.querySelector("#results");
        const iframes = results.querySelectorAll("iframe");
        for (const iframe of iframes) {
          iframe.scrollIntoView();
          await new Promise((resolve) => {
            iframe.contentWindow.addEventListener(
              "message",
              (event) => {
                times[iframe.contentWindow.location.pathname] = Math.round(
                  event.data.data
                );
                resolve();
              },
              { once: true }
            );
            iframe.contentDocument.body.click();
          });
          await new Promise((resolve) =>
            iframe.contentWindow.requestAnimationFrame(resolve)
          );
          await new Promise((resolve) =>
            iframe.contentWindow.requestAnimationFrame(resolve)
          );

          running = false;
        }
        console.table(times);
        console.log("All done");
      });
    </script>
  </body>
</html>
