<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="../layout.svg" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      iframe {
        width: 800px;
        height: 600px;
        margin: 0;
      }
    </style>
    <title>Data UI tests</title>
    <script type="module" crossorigin src="../assets/layout-c6b4d079.js"></script>
    <link rel="modulepreload" crossorigin href="../assets/modulepreload-polyfill-ec808ebb.js">
  </head>
  <body>
    <header>
      <h1>Layout tests</h1>
      <button id="run">Run</button>
    </header>
    <div id="app">
      <div id="results">
        <table></table>
      </div>
    </div>
    <footer></footer>
    
  </body>
</html>
