/* https://css-tricks.com/the-holy-grail-layout-with-css-grid/ */

* {
  box-sizing: border-box;
}

body {
  padding: 5px;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
}

.page-wrap {
  background: white;
  height: calc(100vh - 10px);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(10px, 5fr);
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 1px;
}
.page-wrap > * {
  padding: 2px;
  text-align: center;
}

@media (max-width: 600px) {
  .page-wrap {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .page-wrap > * {
    grid-column: 1/-1 !important;
    grid-row: auto !important;
  }
}

.page-header {
  grid-column: 1/-1;
  background: #ffcdd2;
}

.page-sidebar {
  grid-column: 1/2;
  grid-row: 2/4;
  background: #e1bee7;
}

.page-nav {
  grid-column: 2/3;
  background: #bbdefb;
  padding: 5px;
  text-align: center;
  position: relative;
}

.page-main {
  grid-column: 2/3;
  background: #dcedc8;
  overflow: auto;
}

.page-footer {
  grid-column: 1/-1;
  background: #ffecb3;
}

/* These styles are overriding todomvc styles. We'd fork the CSS package into speedometer and update
   more cleanly */

.todoapp {
  margin: 0;
}

.footer {
  height: 40px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list {
  text-align: left;
}
